In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)

In [2]:
randn(5,4)

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [5]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

In [13]:
df[['w','z']]

          w         z
a -0.993263  0.000366
b  1.025984  0.649826
c  2.154846 -0.346419
d  0.147027  1.024810
e -0.925874  0.610478

In [23]:
df.iloc[2]

w    2.154846
x   -0.610259
y   -0.755325
z   -0.346419
Name: c, dtype: float64

In [25]:
dat = [1,2,3,4]
nam = ['a','b','c','d']
pd.Series(data=dat,index=nam)

a    1
b    2
c    3
d    4
dtype: int64

In [28]:
df["new"] = df['w'] + df['z']
df

          w         x         y         z       new
a -0.993263  0.196800 -1.136645  0.000366 -0.992897
b  1.025984 -0.156598 -0.031579  0.649826  1.675810
c  2.154846 -0.610259 -0.755325 -0.346419  1.808428
d  0.147027 -0.479448  0.558769  1.024810  1.171837
e -0.925874  1.862864 -1.133817  0.610478 -0.315396

In [29]:
df.drop("new",axis=1,inplace=True)

In [42]:
df

          w         x         y         z
a -0.993263  0.196800 -1.136645  0.000366
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810
e -0.925874  1.862864 -1.133817  0.610478

In [48]:
df[df['y']>0]

          w         x         y        z
d  0.147027 -0.479448  0.558769  1.02481

In [52]:
a = np.array([1,2,3,4])
b = np.array([1,2,1,2])
a+b

array([2, 4, 4, 6])

In [57]:
states = "KA MH TN KL MP".split()
df["States"] = states
df

          w         x         y         z States
a -0.993263  0.196800 -1.136645  0.000366     KA
b  1.025984 -0.156598 -0.031579  0.649826     MH
c  2.154846 -0.610259 -0.755325 -0.346419     TN
d  0.147027 -0.479448  0.558769  1.024810     KL
e -0.925874  1.862864 -1.133817  0.610478     MP

In [59]:
df.set_index("States")

               w         x         y         z
States
KA     -0.993263  0.196800 -1.136645  0.000366
MH      1.025984 -0.156598 -0.031579  0.649826
TN      2.154846 -0.610259 -0.755325 -0.346419
KL      0.147027 -0.479448  0.558769  1.024810
MP     -0.925874  1.862864 -1.133817  0.610478

In [62]:
df.head()

          w         x         y         z States
a -0.993263  0.196800 -1.136645  0.000366     KA
b  1.025984 -0.156598 -0.031579  0.649826     MH
c  2.154846 -0.610259 -0.755325 -0.346419     TN
d  0.147027 -0.479448  0.558769  1.024810     KL
e -0.925874  1.862864 -1.133817  0.610478     MP