In [1]:
import pandas as pd

In [2]:
crm = pd.read_csv("criminal_train.csv")
columns = crm.columns
unique_counts_criminals={}
unique_counts_not_criminals={}
criminals = crm[crm["Criminal"]==1].copy()
not_criminals = crm[crm["Criminal"]==0].copy()

columns = columns[:-5].append(columns[-2:-1])
columns

Index([u'PERID', u'IFATHER', u'NRCH17_2', u'IRHHSIZ2', u'IIHHSIZ2',
       u'IRKI17_2', u'IIKI17_2', u'IRHH65_2', u'IIHH65_2', u'PRXRETRY',
       u'PRXYDATA', u'MEDICARE', u'CAIDCHIP', u'CHAMPUS', u'PRVHLTIN',
       u'GRPHLTIN', u'HLTINNOS', u'HLCNOTYR', u'HLCNOTMO', u'HLCLAST',
       u'HLLOSRSN', u'HLNVCOST', u'HLNVOFFR', u'HLNVREF', u'HLNVNEED',
       u'HLNVSOR', u'IRMCDCHP', u'IIMCDCHP', u'IRMEDICR', u'IIMEDICR',
       u'IRCHMPUS', u'IICHMPUS', u'IRPRVHLT', u'IIPRVHLT', u'IROTHHLT',
       u'IIOTHHLT', u'HLCALLFG', u'HLCALL99', u'ANYHLTI2', u'IRINSUR4',
       u'IIINSUR4', u'OTHINS', u'CELLNOTCL', u'CELLWRKNG', u'IRFAMSOC',
       u'IIFAMSOC', u'IRFAMSSI', u'IIFAMSSI', u'IRFSTAMP', u'IIFSTAMP',
       u'IRFAMPMT', u'IIFAMPMT', u'IRFAMSVC', u'IIFAMSVC', u'IRWELMOS',
       u'IIWELMOS', u'IRPINC3', u'IRFAMIN3', u'IIPINC3', u'IIFAMIN3',
       u'GOVTPROG', u'POVERTY3', u'TOOLONG', u'TROUBUND', u'PDEN10',
       u'COUTYP2', u'MAIIN102', u'VEREP'],
      dtype='object')

In [3]:
crm.head(5)

,PERID,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,...,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,Criminal
0,25095143,4,2,4,1,3,1,1,1,99,...,1,2,1,1,2,2,3884.805998,40026,1,0
1,13005143,4,1,3,1,2,1,1,1,99,...,2,2,2,3,2,2,1627.108106,40015,2,1
2,67415143,4,1,2,1,2,1,1,1,99,...,2,2,2,3,2,2,4344.957980,40024,1,0
3,70925143,4,0,2,1,1,1,1,1,99,...,2,2,1,1,2,2,792.521931,40027,1,0
4,75235143,1,0,6,1,4,1,1,1,99,...,2,2,2,2,2,2,1518.118526,40001,2,0

In [4]:
for i in columns:
    unique_counts_criminals[i] = criminals[i].value_counts()
for i in columns:
    unique_counts_not_criminals[i] = not_criminals[i].value_counts()

In [5]:
ids = crm["PERID"]

In [6]:
crm.iloc[0][columns[2]]

2.0

In [7]:
crm_length = len(criminals)
column_length = len(columns)
crm_length

3175

In [8]:
criminals_str_rep = set()
for i in xrange(crm_length):
    strn = ""
    for j in range(1,column_length):
        strn+=str(float(criminals.iloc[i][columns[j]]))
    criminals_str_rep.add(strn)

In [9]:
len(criminals_str_rep)
criminals_str_rep_list = list(criminals_str_rep)
len(criminals_str_rep)

2759

In [10]:
crm_length = len(not_criminals)
column_length = len(columns)
not_criminals_str_rep = set()
for i in xrange(crm_length):
    strn = ""
    for j in range(1,column_length):
        strn+=str(float(not_criminals.iloc[i][columns[j]]))
    not_criminals_str_rep.add(strn)

In [11]:
len(not_criminals_str_rep)

30236

In [12]:
not_criminals_str_rep_list = list(not_criminals_str_rep)
amb = criminals_str_rep - not_criminals_str_rep
amb_list= list(amb)
len(amb)
len(amb_list)

2444

In [13]:
import csv
file = open('testfile.txt','w') 
for i in amb_list:
    file.write(i+" \n")
file.close()